@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/SourceSansPro-Regular.otf');
}

@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/SourceSansPro-Bold.otf');
	font-weight: bold;
}

@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/SourceSansPro-Semibold.otf');
	font-weight: 600;
}

@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/SourceSansPro-Light.otf');
	font-weight: 300;
}

@font-face {
	font-family: FontAwesome;
	src: url('../fonts/FontAwesome.otf');
}

.material-datepicker {
	font-family: SourceSansPro;
	position: absolute;
	width: 300px;
	border:1px solid gray;
	z-index: 1000000;
}

.material-datepicker.hide {
	display: none;
}

section.top-day {
	text-align: center;
	font-weight: 300;
	background-color: #007366;
	height: 35px;
	line-height: 35px;
	color: #fff;
}

section.middle-date {
	background-color: #009688;
	height: 140px;
	color: #fff;
	text-align: center;
	position: relative;
}

section.middle-date > .month {
	padding: 8px 0px;
	text-transform: uppercase;
	font-size: 28px
}

a.control {
	font-family: FontAwesome;
	color: #000;
	font-size: 15px;
	font-weight: 300;
	position: absolute;
	cursor: pointer;
}

a.prev {
	top: 11px;
	left: 62px;
}

a.next {
	top: 11px;
	right: 62px;
}

a.close {
	float: right;
	padding: 18px 30px;
	color: #009688;
	font-weight: 600;
	cursor: pointer;
}

section.middle-date > .date {
	font-size: 62px;
	height: 39px;
	margin-top: -23px;
	margin-bottom: 28px;
}
section.middle-date > .year {
	font-size: 25px;
	font-weight: 400;
	color: #8ACFC8;
}

section.calendar {
	position: relative;
}

section.calendar > .title {
	padding:7px;
 	text-align: center;
 	font-size: 16px;
}

section.calendar .days {

}

section.calendar .day {
	padding: 10px 0px;
	display: inline-block;
	width: 40px;
	text-align: center;
}

section.calendar .day.today {
	color: #009688;
	font-weight: 600;
}

section.calendar .day.selected {
	border-radius: 20px;
	background-color: #009688;
	color: #fff;
}

section.calendar a.day {
	cursor: pointer;
}